@page "/salesperformanceteam/edit/{id:int}"
@using Domain
@using ClientBlazor.Services
@inject SalesPerformanceTeamServices salesPerformanceTeamServices
@inject NavigationManager navigationManager
@inject ProjectService projectService
@inject SellerService sellerService
@inject BookMakerServices bookmakerService
@inject EventServices eventServices

<h3>Editar Equipe de Vendas</h3>
@if (salesPerformanceTeamModel == null)
{
  <p>Carregando...</p>
}
else
{
  <EditForm Model="@salesPerformanceTeamModel" OnValidSubmit="HandleUpdateSalesPerformanceTeam">
    <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-group">
    <label>Vendedor</label>
    <InputSelect @bind-Value="salesPerformanceTeamModel.SPTSellerId" class="form-control">
      <option value="">Selecione um vendedor</option>
      @foreach (var seller in sellers)
      {
        <option value="@seller.SellerId">@seller.SellerName</option>
      }
    </InputSelect>
  </div>
  <div class="form-group">
    <label>Projeto</label>
    <InputSelect @bind-Value="salesPerformanceTeamModel.SPTProjectId" class="form-control">
      <option value="">Selecione um projeto</option>
      @foreach (var project in projects)
      {
        <option value="@project.ProjectId">@project.ProjectName</option>
      }
    </InputSelect>
  </div>
  <div class="form-group">
    <label>Total de Leads</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalLeads" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total de Vendas</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalSales" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total em Vendas</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalSalesAmont" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total de Cadastros</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalRegister" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total em Depositos</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalRegisterAmont" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total de redepositos</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalRedeposit" class="form-control" />
  </div>
  <div class="form-group">
    <label>Total em redepositos</label>
    <InputNumber @bind-Value="salesPerformanceTeamModel.SPTTotalRedepositAmont" class="form-control" />
  </div>
  <div class="form-group">
    <label>Casa de aposta</label>
    <InputSelect @bind-Value="salesPerformanceTeamModel.SPTBookmakerId" class="form-control">
      <option value="">Selecione uma Casa de Aposta</option>
      @foreach (var bookmaker in bookmakers)
      {
        <option value="@bookmaker.BookmakerId">@bookmaker.BookmakerName</option>
      }
    </InputSelect>
  </div>
  <div class="form-group">
    <label>Evento</label>
    <InputSelect @bind-Value="salesPerformanceTeamModel.SPTEventId" class="form-control">
      <option value="">Selecione um evento</option>
      @foreach (var eve in eventos)
      {
        <option value="@eve.EventsId">@eve.EventName</option>
      }
    </InputSelect>
  </div>
  <div class="form-group">
    <label>Data</label>
    <InputDate @bind-Value="salesPerformanceTeamModel.SPTDate" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</EditForm>
}

@code{
  [Parameter]
  public int Id { get; set; }
  private SalesPerformanceTeam? salesPerformanceTeamModel;
  private string? errorMessage;
  @* Busca projetos para lista suspensa *@
  private List<Project> projects = new List<Project>();

  @* Busca vendedores para lista suspensa *@
  private List<Seller> sellers = new List<Seller>();
  private List<Bookmaker> bookmakers = new List<Bookmaker>();
  private List<Events> eventos = new List<Events>();
  protected override async Task OnInitializedAsync()
  {
    try
    {
      salesPerformanceTeamModel = await salesPerformanceTeamServices.GetSalesTeamPerformanceByIdAsync(Id);
    }
    catch (Exception ex)
    {
      errorMessage = $"Ocorreu um erro: {ex.Message}";
    }
    projects = await projectService.GetActiveProjectsAsync();
    sellers = await sellerService.GetActiveSellersAsync();
    bookmakers = await bookmakerService.GetBookmakersAsync();
    eventos = await eventServices.GetEventsAsync();
  }

  private async Task HandleUpdateSalesPerformanceTeam()
  {
    try
    {
      if (salesPerformanceTeamModel != null)
      {
        await salesPerformanceTeamServices.UpdateSalesTeamPerformanceAsync(Id, salesPerformanceTeamModel);
        navigationManager.NavigateTo("/salesperformanceteam");
      }
    }
    catch
    {
      errorMessage = "Erro ao editar ação do vendedor.";
    }
  }
}